* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;aaa
}

body {
  width: 100%;
  height: 100vh;
  background: #1a1a1a;

  display: flex;
  align-items: center;
  justify-content: center;
}
